header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}

body {
	margin: 0;
	text-align: center;
}

h1 {
	margin: 0;
}

nav {
	background-color: #00a6b3;
	color: #ffffff;
	padding: 20px 0;
}

a {
	text-decoration: none;
	color: #ffffff;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

main {
	width: 850px;
	margin: 35px;
}

img {
	margin: 40px 8px;
}

footer {
	text-transform: capitalize;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font-family: "Raleway";
	float: left;

}

.message {
	font-family: "Raleway";
	float: right;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
};

.name {
	color: #F15B31;
	font-weight: 700;
}